*{
    margin: 0px;
     font-family: 'Urbanist', sans-serif;
}
body {
  background-color: #aaa7f518;
    font-family: 'Raleway', sans-serif;
}
/* navbar */
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
.logo{
    color: #4E47FF; 
    font-weight: 900;
}
header{ 
    background-image: url("..//Assets/Hero-bg.png");
    height: 540px;
}

.button-sing{
    height: 48px;
    width: 132px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

ul li{
    list-style: none;
}

.container{
    text-align: center;
    margin: 100px;
}
.title{
    text-align: center;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    width: 500px;
    margin: auto;
}
.button-stay{
    height: 48px;
    width: 174px;
    margin-top: 35px;
   background-color: #4E47FF;
   color: white;
   border: none;
   border-radius: 10px;
   font-weight: bold;
}

.section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.title-see{
    font-size: 25px;
}
.sub-title-ex{
    margin-top: 23px;
    font-size: 18px;
    color: #8987A1;
    max-width: 327px;
}
.button-la{
    height: 48px;
    width: 174px;
    margin-top: 23px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.image-sec{
    border-radius: 48px;
    height: 328px;
    width: 403px;
}
.container-start{
    display: block;
    margin: 0px 100px;
    text-align: center;
    height: 150px;
    margin-top: 30px;
    background-color: #4d47ff1e;
    border-radius: 24px;
    padding: 80px;
}
.container-2{
    display: flex;
    gap: 120px;
    justify-content: space-between;
    padding: 50px;
}
.size{
    font-size: 60px;
    color: #4E47FF;
}
.sub-ti{
    color: #8987A1;
}

.what-our{
   margin-top: 50px;
   text-align: center;
}
.card-container{
    display: flex;
    justify-content:space-between;
    margin: 50px 100px;
    gap: 30px;
}
.card-cont{
display: block;
height: 240px;
width: 350px;
border-radius: 14px;
background-color: white;
padding: 20px;
}
.card-user{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.image-size{
    border-radius: 30px;
}
.date{
margin-left: 62px;
color: #8987A1;
opacity: 0.5;
}
.loved{
    margin-top: 20px;
}
.template{
    margin-top: 20px;
}
.review{
     color: #8987A1;
}
.container-ready{
    display: block;
    text-align: center;
    background-color: white;
    margin: 0 100px;
    padding: 70px;
    border-radius: 14px;
}
.ready{
    font-size: 30px;
}
.leveled{
    color: #252432;
    opacity: 50%;
    margin-top: 20px;
}
.button-ger{
    height: 48px;
    width: 195px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 20px;
}
.image-section{
    border-radius: 48px;
    margin-top: 30px;
}
.form-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 50px;
}
.form-section{
    display: block;
    align-items:start;
}
.touch{
    font-size: 60px;
   margin-top: 190px;
   max-width: 350px;
}
.email{
    padding: 20px;
    width: 497px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    margin-top: 10px;
}
.message{
    padding: 20px;
    width: 497px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    margin-top: 20px;
}
.button-touch{
    margin-top: 30px;
    width: 537px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    border: none;
    font-weight: bold;
}
label{
    display: flex;
    margin-top: 30px;
}
.footer{
    text-align: center;
    margin-top: 100px;
    background-color: white;
    padding: 90px;
    position: relative;
    border-top: 1px solid #D6DDED;
}
.logos{
    color:#4E47FF;
    font-size: 60px;
}
.elevate{
    color: #8987A1;
    margin-top: 30px;
    max-width: 550px;
    margin: auto;
}
.van, .list{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #8987A1;
    margin-top: 10px;
}
.btn:hover{
    background-image: linear-gradient(to right, skyblue, rgb(53, 50, 50));
    color:rgb(207, 242, 91);
    transition: 0.8s;
    cursor: pointer;
}